include README.md
include requirements.txt
include MANIFEST.in
recursive-include icm_cardiovascular *.py
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.so
recursive-exclude * .DS_Store
